VITE_SUPABASE_URL=https://bchuntzfagrdsiewyqwm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjaHVudHpmYWdyZHNpZXd5cXdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzOTY2MjQsImV4cCI6MjA4Njk3MjYyNH0.AwACUZ8kvamXVTc41aJA5NfhmsvFRGh1qoxtLGMs6FM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjaHVudHpmYWdyZHNpZXd5cXdtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTM5NjYyNCwiZXhwIjoyMDg2OTcyNjI0fQ.OCrP_qT1zgJAay6mSZyyp7Wscfc6zWdp3n15EYf0FHM
GEMINI_API=AIzaSyBpMvpqCzyfdzuzEHdBD37LM97M21vjPQU
RESEND_API_KEY=re_geyXBNub_Nv6KcgtnWTLAK32YAkQXq8ZT
